<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Chamados{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'bundles/chamados/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <nav class="navbar navbar-default navbar-fixed-top">

        <a class="navbar-brand" href="/"><b>SAC</b></a>
        <ul class="nav navbar-nav ">
            <li><a href="/">Novo Chamado</a></li>
            <li><a href="/sac/reports"> Relatórios </a></li>
        </ul>
    </nav>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/chamados/js/jquery-3.1.0.min.js') }}"></script>
            <script src="{{ asset('bundles/chamados/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('bundles/chamados/js/main.js') }}"></script>
            <script>
                initAjaxForm();
                initAjaxSearchForm();
            </script>
        {% endblock %}
    </body>
</html>